// parameters for workflow, which are known beforehand or describe how parts of the workflow should be executed
params {
    date_range = [
        "DD.MM.YYYY",
        "DD.MM.YYYY"
    ]

    output_directory = "/mnt/eolab-volume/agrosense"
    raw_directory = "${output_directory}/wf-output/raw"
    cube_directory = "${output_directory}/wf-ouput/cube"
    stm_directory = "${output_directory}/wf-output/ndvi"
    cropland_directory = "${output_directory}/wf-output/cropland"
    store_raw = false
    store_cube = true
    store_stm = true
    store_cropland = true

    cube_projection = 'PROJCS["BU MEaSUREs Lambert Azimuthal Equal Area - AF - V01",GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Azimuthal_Equal_Area"],PARAMETER["false_easting",0.0],PARAMETER["false_northing",0.0],PARAMETER["longitude_of_center",20],PARAMETER["latitude_of_center",5],UNIT["meter",1.0]]'
    cube_resolution = 30
    cube_dtype = 'Int16'
    cube_origin = [24, 47]

    validation_data = ''

    force_threads = 2
}

// enable docker support
docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

/* configuration for process directives
 * If no other options are set within a process, the ones below apply
*/
process {
    // TODO IIRC, only CPU is accepted as resource specifier for local executor?
    container = 'floriankaterndahl/agrosense:v0.1.1'
    executor = 'local'
    cpus = 1
    errorStrategy = 'terminate'
    maxRetries = 3
    scratch = true

    // if a proces is labeled with force or gdal, they use a different docker image
    // labels are additive, i.e. they stack
    withLabel: force {
        cpus = params.force_threads
        container = 'davidfrantz/force:3.7.12'
    }

    withLabel: gdal {
        container = 'ghcr.io/osgeo/gdal:ubuntu-full-latest'
    }

    withLabel: largeMemory {
        memory = 15.GB
    }
}

// below are various metadata outputs
dag {
    enabled = true
    overwrite = true
    file = 'wf-meta/dag-agrosense.png'
}

report {
    enabled = true
    overwrite = true
    file = 'wf-meta/report-agrosense.html'
}

trace {
    enabled = true
    overwrite = true
    file = 'wf-meta/trace-agrosense.txt'
}

timeline {
    enabled = true
    overwrite = true
    file = 'wf-meta/timeline-agrosense.html'
}
