// parameters for workflow, which are known beforehand or describe how parts of the workflow should be executed
params {
    date_range = [
        "DD.MM.YYYY",
        "DD.MM.YYYY"
    ]

    raw_directory = ""
    cube_directory = ""
    store_raw = false
    store_cube = true

    cube_projection = 'PROJCS["BU MEaSUREs Lambert Azimuthal Equal Area - AF - V01",GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["degree",0.0174532925199433]],PROJECTION["Lambert_Azimuthal_Equal_Area"],PARAMETER["false_easting",0.0],PARAMETER["false_northing",0.0],PARAMETER["longitude_of_center",20],PARAMETER["latitude_of_center",5],UNIT["meter",1.0]]'
    cube_resolution = 30
    cube_dtype = 'Int16'
    cube_origin = [24, 47]

    force_threads = 8


    vegetation_indices = [
        "NDVI"
    ]
}

// enable docker support
docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

// configuration for process directives
process {
    // TODO don't use latest tag
    // TODO IIRC, only CPU is accepted as resource specifier for local executor?
    container = 'floriankaterndahl/agrosense:latest'
    executor = 'local'
    cpus = 7
    memory = 60.GB
    errorStrategy = 'retry'
    maxRetries = 3
    scratch = true
    
    withLabel: maxCPU {
        cpus = 14
    }

    withLabel: force {
        container = 'davidfrantz/force:3.7.12'
    }

    withLabel: gdal {
        container = 'ghcr.io/osgeo/gdal:ubuntu-full-latest'
    }
}

// below are various metadata outputs
dag {
    enabled = true
    overwrite = true
    file = 'wf-meta/dag-oad-lstm-classification.png'  // png format requires that 'dot' is installed on host system
}

report {
    enabled = true
    overwrite = true
    file = 'wf-meta/report-oad-lstm-classification.html'
}

trace {
    enabled = true
    overwrite = true
    file = 'wf-meta/trace-oad-lstm-classification.txt'
}

timeline {
    enabled = true
    overwrite = true
    file = 'wf-meta/timeline-oad-lstm-classification.txt'
}