__pycache__/
.snakemake
.venv
docs/
cube/
results/
test-data/
test-data_2/
workflow/
work/
get_meta
.gitignore
.git
citation.cff
CONDUCT.md
CONTRIBUTING.md
LICENSE
poetry.lock
resources/
tests/
wf-meta/
wf-output/

